body{
    background-color: white;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;

}
.top-bar{
    display:flex;
    padding:20px;
}
.top-left{
    flex:1;
}

.logo{
    display:flex;
    width: auto;
    justify-content: center;
    align-items: center;
}

.searchbar{
    display:flex;
    justify-content: center;
    align-content: center;
}

[type='submit'] {
    background-color: #f8f9fa;
    border:none;
    padding-top: 20px; 
    align-self: center;
}